---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Leewan">
  <section class="mt-48">
    <div class="flex text-lg text-white/70 font-medium max-w-3xl">
      Hello
      <div>
        <img src="/img/wave.gif" alt="" height="100%" width="22px" />
      </div>
      ,<span class="text-primary">&nbsp;My name is</span>
    </div>
    <div
      class="text-white font-extrabold text-4xl sm:text-5xl lg:text-6xl tracking-tight my-3 relative"
    >
      Ahmed Leewan.
      <div
        class="font-extrabold text-4xl sm:text-5xl lg:text-6xl tracking-tight absolute text-primary/20 top-1 left-1"
      >
        Ahmed Leewan.
      </div>
    </div>
    <p class="text-base text-white/70 font-normal max-w-3xl">
      I'm a <span class="font-mono text-primary">full-stack</span> engineer with
      a passion for backend development. Welcome to my little corner of the internet.
      I'm glad you're here!
    </p>
  </section>
</Layout>
