---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Leewan">
  <section class="mt-48">
    <div class="flex text-lg text-white font-medium max-w-3xl">
      Hello
      <div>
        <img
          src="https://raw.githubusercontent.com/MartinHeinz/MartinHeinz/master/wave.gif"
          alt=""
          height="100%"
          width="22px"
        />
      </div>
      ,<span class="text-primary">&nbsp;My name is</span>
    </div>
    <div
      class="text-white font-extrabold text-4xl sm:text-5xl lg:text-6xl tracking-tight my-3 relative"
    >
      Ahmed Leewan.
      <div
        class="font-extrabold text-4xl sm:text-5xl lg:text-6xl tracking-tight absolute text-primary/20 top-1 left-1"
      >
        Ahmed Leewan.
      </div>
    </div>
    <p class="text-base text-white font-normal max-w-3xl">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s
    </p>
  </section>
</Layout>
