<section
  id="me"
  class="flex flex-col justify-center pb-16 h-[calc(100vh-56px)]">
  <div class="flex flex-col md:w-3/4">
    <div
      class="bg-[url('/img/wavy-line.svg')] bg-no-repeat w-full h-4 rotate-180 mb-6 opacity-80">
    </div>
    <div class="flex text-lg text-white/70 font-normal max-w-3xl items-end">
      Hello
      <div class="ml-1">
        <img src="/img/wave.gif" alt="Wave Icon" width="30px" />
      </div>
       ,<span
        >&nbsp;My name is <strong class="text-primary font-semibold font-mono"
          >Leewan</strong
        >.</span
      >
    </div>
  </div>
  <div
    class="text-4xl font-bold tracking-tight text-zinc-100 sm:text-6xl my-3 max-w-3xl relative">
    Full-stack developer.
    <div
      class="text-4xl font-bold tracking-tight sm:text-6xl my-3 max-w-3xl absolute text-primary/20 top-[-6px] left-1 -z-10">
      Full-stack developer.
    </div>
  </div>
  <div class="relative md:w-3/4">
    <p class="text-base text-zinc-400 font-normal max-w-3xl">
      I'm a <span class="font-mono text-primary">full-stack</span> engineer with
      a passion for <span class="font-mono text-primary"
        >backend development</span
      >. Check out my <a
        href="https://leewan-09.showwcase.com/shows"
        class="text-primary font-mono">projects</a
      > or <a href="https://t.me/toor09" class="text-primary font-mono"
        >contact</a
      > me.
    </p>
    <div
      class="bg-[url('/img/cricle-cross.svg')] bg-no-repeat w-36 h-11 absolute rotate-180 right-10 opacity-50 translate-y-full">
    </div>
  </div>
  <div class="bg-[url('/img/wavy-line.svg')] bg-no-repeat w-full h-4 mt-6">
  </div>
</section>
