---
import Navbar from '../components/Navbar.astro';
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Navbar />
    <main class="max-w-screen-xl w-full m-auto px-6">
      <slot />
    </main>
  </body>

  <script type="module">
    import { initializeApp } from 'https://www.gstatic.com/firebasejs/10.4.0/firebase-app.js';
    import { getAnalytics } from 'https://www.gstatic.com/firebasejs/10.4.0/firebase-analytics.js';
    const firebaseConfig = {
      apiKey: 'AIzaSyBbQ76qlL117pLnYrClDZ7WGpMuzpqKRQ8',
      authDomain: 'leewan-blog.firebaseapp.com',
      projectId: 'leewan-blog',
      storageBucket: 'leewan-blog.appspot.com',
      messagingSenderId: '1028363674898',
      appId: '1:1028363674898:web:b03e3f14b8b22244d4bfcb',
      measurementId: 'G-HQMC3BXYEL',
    };
    const app = initializeApp(firebaseConfig);
    const analytics = getAnalytics(app);
  </script>
</html>
<style is:global>
  body {
    margin: 0;
    background-color: hsla(225, 5%, 15%, 1);
    background-color: linear-gradient(
      90deg,
      hsla(225, 5%, 15%, 1) 0%,
      hsla(213, 10%, 17%, 1) 100%
    );
    color: white;
  }
</style>
